CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeLists.txt.user
_deps/
CMakeUserPresets.json
build/

*.o
*.obj
*.so
*.dll
*.exe
*.log
*.user
*.swp

.clang-format
